<!-- Home View -->

<div id="home"
     data-role="view"
     data-title="Home">

    <br />
    <div style="float: left; width: 30%;">
        <img src="img/Progress_spark100px.png" />
    </div>

    <div style="float: center; width: 80%;">
        <br />
        <br />
        <h1>Home Page</h1>
    </div>

    <div style="float: left; width: 100%;">
        <h3>This template is a starting point for developing a mobile app in Telerik Platform&trade; using a Progress Data Service.
            <br />
            <br />
            The built-in session management and data access to a Progress Data Service is a jumpstart to building your first 
            mobile app for a Progress OpenEdge or Progress Rollbase server.
            <br />
            <br />
            Please open the README.txt for instructions on how to use this template.
        </h3>
    </div>
</div>
