   
<div id="submitErrors"
     data-role="view" 
     data-title="Errors"
     data-style="inset" 
     data-init="app.viewModels.dataViewModel.onInitErrorListView"
     data-show="app.viewModels.dataViewModel.onShowErrorListView"
     data-model="app.viewModels.dataViewModel">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-role="backbutton" data-align="left">Back</a>
            <span data-role="view-title"></span>
        </div>
    </header>
    
  	<ul id="submitErrorsListView" 
        data-role="listview" data-style="inset">
    </ul>    
</div>

